body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.image-carousel-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.slides-container {
  width: 600px;
}

button.previous-slide,
button.next-slide {
  background: none;
  border: none;
  filter: brightness(0) saturate(100%);
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.carousel-nav {
  display: flex;
  gap: 1rem;
}

button.nav-dot {
  background-color: lightgrey;
  border: none;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

button.nav-dot.active {
  background-color: darkgrey;
}
